<div class="search-box">
    <form class="job-search">
        <label for="jobType">Job Type:</label>
        <input type="text" id="jobType" name="jobType" placeholder="Job Type" value="Jobs">
        <label for="loc">Location</label>
        <input type="text" id="loc" name="loc" placeholder="Location" value="Utah">
        <button type="submit">Search</button>
    </form>
</div>

<div class="con-card">
    {{#each data}}
        <div id="{{create_id}}" class="job-card" onclick="clickCounter(event)">
        <h4 class="card-title">{{this.job_name}}</h4>
        <h6 class="card-subtitle mb-2">{{this.company_name}}</h6>
        <h6 class="text-muted city-text">{{this.place}}</h6>

        <a href="{{this.job_url}}" target="_blank" class="card-link">{{this.job_url}}Click Here to Apply</a>
    </div>

    {{/each}}
</div>

<script src="/javascript/click.js"></script>
<script src="/javascript/jobSearch.js"></script>